[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ipython = "*"
ipdb = "*"
pyparsing = "*"
jinja2 = "*"
aiohttp = "*"
click = "*"
aiofiles = "*"

[requires]
python_version = "3.7"
