[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "*"
ipython = "*"
ipdb = "*"
pylint = "*"

[packages]
pyparsing = "*"
aiohttp = "*"
click = "*"
aiofiles = "*"

[requires]
python_version = "3.7"
